PORT=4000
DATABASE_URL=
AUTH_SERVICE_URL=http://localhost:4001
FAMILY_SERVICE_URL=http://localhost:4002
INVENTORY_SERVICE_URL=http://localhost:4003
NUTRITION_SERVICE_URL=http://localhost:4004
MEAL_DIARY_SERVICE_URL=http://localhost:4005
RECIPE_SERVICE_URL=http://localhost:4006
MENU_SERVICE_URL=http://localhost:4007
SHOPPING_LIST_SERVICE_URL=http://localhost:4008
PAYMENT_SERVICE_URL=http://localhost:4009
NOTIFICATION_SERVICE_URL=http://localhost:4010
ADMIN_SERVICE_URL=http://localhost:4011

